# Database
DATABASE_URL=postgresql://user:password@host/dbname

# Auth - GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Auth - Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Auth.js
AUTH_SECRET=generate-with-openssl-rand-base64-32
